.about{
    text-align: center;
}

.about__container{
    justify-content: center;
}

.about__paragraph{
    max-width: 700px;
    margin: 1rem auto;
}

@media screen and (max-width: 375px){
    .about__paragraph{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .about__paragraph{
        width: 80%;
    }
}