.softskills{
    text-align: center;
}
.softskills__line{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .softskills__line{
        flex-wrap: wrap;
    }
}